body {
    padding-top: 60px !important ;
}
.jumbotron.home-jumbotron{
    background-color: rgb(32, 136, 255);
}
.home-jumbotron{
    margin-top: -60px;
    margin-bottom: 5px;
    padding-top: -60px; 
   
}
.centralizado {
    margin: 0 auto;
}

.form-login{
    width: 400px;
}

.form-login-title {
    
    vertical-align: middle;
    color: white;
}
.color-white {
    color: white;
}
.footer-home {
    display: block;
    height: 250px;
}