body {
    padding-top: 60px !important ;
}
.jumbotron.home-jumbotron{
    background-color: rgb(32, 136, 255);
}
.home-jumbotron{
    margin-top: -60px;
    margin-bottom: 5px;
    padding-top: -60px; 
   
}
.centralizado {
    margin: 0 auto;
}

.form-login{
    width: 400px;
}

.form-login-title {
    
    vertical-align: middle;
    color: white;
}
.color-white {
    color: white;
}

.bg-pink{
    background-color: pink;
}
.footer-home {
    display: block;
    height: 250px;
}
.h-180{
    height: 180px;
}

.bt-fab {
   position: absolute;
   display: block;
   width: 50px;
   height: 50px;
   right: 40px;
   bottom: 60px;
   color: white;
   border-radius: 50%;
   cursor: pointer;
   z-index: 100;
}
.bt-fab:hover{
    border: 1px solid 
}
.bt-fab:active{
    border: 4px inset 
}